.console {
    // background-color: rgba($color: #000000, $alpha: 0.8);
    color: var(--color-on-bg);
    width: 100%;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    height: 150px;
    padding: 1em;
    border-radius: 10px;
    border: 3px solid var(--color-on-bg);
    user-select: none;
}

