.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;

    &.vertical {
        width: 34px;
        height: 100px;
    }
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg);
    border: 3px solid var(--color-on-bg);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

 .slider.vertical::before {
    height: 26px;
    width: 26px;
    top: -3px;
    left: -2px;
    bottom: 100%;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -3px;
    bottom: -2px;
    background-color: var(--color-bg);
    border: 3px solid var(--color-on-bg);

    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;

  }
  
  input:checked + .slider {
    background-color: var(--color-on-bg);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-on-bg);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(68px);
    -ms-transform: translateX(68px);
    transform: translateX(68px);
  }

  input.vertical:checked + .slider.vertical:before {
    -webkit-transform: translateY(68px);
    -ms-transform: translateY(68px);
    transform: translateY(68px);
  }